/*--reset code--*/
body {
    background: url(../images/banner.jpg) 0px 0px no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment:fixed;
    margin:0;
    padding:0;
}
p{
    font-family: 'PT Sans Narrow', sans-serif;
}
form {
    text-align: center;
    display: block;
}
h1,h2,button{

    font-family: 'PT Sans Narrow', sans-serif;
}
span.simply-amount,span.simply-word{
    font-family: 'Montserrat', sans-serif;
}
.clear{
    clear:both;
}
footer{
    font-family: 'Montserrat', sans-serif;
}
/*--/reset code--*/
.agile-countdown h1 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0 20px 0;
    padding: 0;
    color: white;
}
.agile-subtitle h2 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 100px 0 0 0;
    padding: 0;
    color: white;
}
p {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 0 30px;
    padding: 0;
    color: white;
    line-height: 2;
}
.agile-timer {
    width: 47%;
    margin: 0 auto;
}

span.simply-amount {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 5px;
    margin: 0;
    line-height: 1.5;
}
span.simply-word {
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.agile-fields {
    width:42%;
    margin: 0 auto;
}
input[type="email"] {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background: #fff;
    border: 2px solid #d9d9de;
    outline: none;
    box-sizing: border-box;
}
button {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 10px auto;
    padding: 10px;
    width: 25%;
    box-sizing: border-box;
    border: none;
    background: rgba(8, 151, 206, 0.81);
    cursor: pointer;
    outline: none;
    color: white;
    display: inline;
}
.social-icons {
    text-align:center;
}
.social-icons ul {
    list-style-type: none;
    margin: 3em 0 0 0;
    padding:0;
}
.social-icons li {
    display: inline-block;
    padding:0 5px;
}
.social-icons a {
    text-decoration: none;
    color: white;
}
.social-icons i.fa.fa-facebook, i.fa.fa-twitter, i.fa.fa-google-plus, i.fa.fa-linkedin {
    font-size: 15px;
    text-align: center;
    width: 30px;
    height: 30px;
    background: none;
    color: #f7f0f0;
    line-height: 2;
    border: 2px solid #fff;
}
i.fa.fa-facebook:hover{
    background:#3b5998;
    color:white;
    transition:0.5s ease-in;
}
i.fa.fa-twitter:hover{
    background:#1da1f2;
    color:white;
    transition:0.5s ease-in;
}
i.fa.fa-google-plus:hover{
    background:#dd4b39;
    color:white;
    transition:0.5s ease-in;
}
.simply-countdown-losange {
    overflow: visible;
    display: table;
    font-family: 'Arial', sans-serif;
}
.simply-countdown-losange > .simply-section {
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    float: left;
    margin: 0 41px 100px 41px;

}
.simply-countdown-losange > .simply-section > div {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.simply-countdown-losange > .simply-section > div .simply-amount,
.simply-countdown-losange > .simply-section > div .simply-word {
    display: block;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
footer {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
}
footer a {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    text-decoration:none;
    letter-spacing: 1px;
    margin: 30px 0 0 0;
    color: #ffe000;
}
/*--responsive--*/
@media(max-width:1920px){

}
@media(max-width:1680px){

}
@media(max-width:1600px){

}
@media(max-width:1440px){
    .simply-countdown-losange > .simply-section{
        margin: 0 23px 100px 41px;
    }
}
@media(max-width:1366px){
    .simply-countdown-losange > .simply-section {
        margin: 0 23px 100px 33px;
    }
}
@media(max-width:1280px){
    .simply-countdown-losange > .simply-section {
        margin: 0 20px 100px 20px;
    }
    .agile-timer {
        width: 45% !important;
    }
    button{
        width: 30%;
    }
}
@media(max-width:1080px){
    .simply-countdown-losange > .simply-section {
        margin: 0 23px 100px 25px;
    }
    .agile-fields {
        width: 50%;
    }
    .agile-timer {
        width: 57% !important;
    }
}
@media(max-width:1050px){
    .agile-timer {
        width: 59% !important;
    }
    .agile-fields {
        width: 55%;
    }
}
@media(max-width:1024px){
    .agile-timer {
        width:63% !important;
    }
}
@media(max-width:991px){
    .agile-timer {
        width: 65% !important;
    }
}
@media(max-width:900px){
    .agile-timer {
        width: 71% !important;
    }
    .agile-fields {
        width: 60%;
    }
}
@media(max-width:800px){
    .agile-timer {
        width: 80% !important;
    }
    .agile-fields {
        width: 70%;
    }
}
@media(max-width:768px){
    .agile-timer {
        width: 85% !important;
    }
    .agile-fields {
        width: 75%;
    }
}
@media(max-width:736px){
    .agile-timer {
        width: 86% !important;
    }
    .agile-fields {
        width: 75%;
    }
}
@media(max-width:667px){
    .simply-countdown-losange > .simply-section {
        margin: 0 18px 100px 18px;
    }
    .agile-fields {
        width: 85%;
    }
}
@media(max-width:600px){
    .simply-countdown-losange > .simply-section {
        margin: 0 10px 100px 10px;
    }
    .agile-fields {
        width: 92%;
    }
}
@media(max-width:568px){
    .agile-timer {
        width: 90% !important;
    }
    p {
        font-size: 14px;
    }
}
@media(max-width:480px){
    .simply-countdown-losange > .simply-section {
        margin: 0 50px 50px 50px;
    }
    .agile-countdown h1 {
        font-size: 40px;
    }
    button {
        width: 40%;
    }
}
@media(max-width:414px){
    .simply-countdown-losange > .simply-section {
        margin: 0 35px 50px 35px;
    }
    .agile-countdown h1 {
        font-size: 35px;
    }
}
@media(max-width:384px){
    .simply-countdown-losange > .simply-section {
        margin: 0 25px 50px 25px;
    }
    .agile-subtitle h2 {
        font-size: 20px;
    }
    button {
        width: 50%;
    }
}
@media(max-width:375px){

}
@media(max-width:320px){
    .agile-countdown h1 {
        font-size: 27px;
    }
    .agile-subtitle h2 {
        font-size: 18px;
    }
    .simply-countdown-losange > .simply-section {
        margin: 0 13px 50px 13px;
    }
    button {
        width: 60%;
    }
}
/*--/responsive--*/